@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
:root {
    --color-primary: #CC0033;
}

html, body {
    height: 100%;
    font-family: "Ubuntu", sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
    flex-shrink: 0;
    text-align: center;
}

.bg-primary {
    background-color: var(--color-primary) !important;
}

.text-primary {
    color: var(--color-primary) !important;
}


/*---------------------------CALENDARIO-----------------------------*/

* {
    box-sizing: border-box;
}

tr {
    list-style-type: none;
}

body {
    font-family: "Ubuntu", sans-serif;
}

.mes {
    padding: 15px 42%;
    width: 100%;
    background: #415492;
    text-align: center;
    border-style: 0;
}

.mes tr {
    margin: 0;
    padding: 0;
}

.mes tr th {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.mes .prev {
    float: left;
    padding-top: 10px;
}

.mes .next {
    float: right;
    padding-top: 10px;
}

.diadasemana {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.diadasemana th {
    display: inline-block;
    width: 14.27%;
    color: #666;
    text-align: center;
}

.dias {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.dias td {
    list-style-type: none;
    display: inline-block;
    width: 13.70%;
    height: 37px;
    text-align: center;
    margin: 2px;
    font-size: 15px;
    color: #777;
    align-items: center;
}

.dias td .active {
    padding: 5px;
    background: #CC0025;
    color: white !important
}

/**************Bootstrap*************/

.caixa {
    background-color: #212529;
    padding: 2%;    
    color: #eee;
    max-width: 60%;
}

.term {
    background-color: #dfdfdf;
    padding: 2%;    
}

.row {
    margin: 1%;
}

.desc {
    width: 100%;
}

.sub {
    margin-top: 4%;
}


/*********************Botao Navbar*********************/

.btn-nav{
    padding: 0.3rem 1rem;
    font-size: 1.1rem;
    /*border-radius: 0.3rem;*/
    text-decoration: none;
    align-items: flex-end;

}
.btn-primary-nav {
    color: #fff;
    background-color: #415492;
}